.MovieDetail {
     display: flex;
     flex-direction: column;
     margin: auto;
     height: 240px;
     justify-content: space-evenly;
     width: 99%;
     text-align: center;
     box-sizing: border-box;
     cursor: pointer;
}

.MovieDetail p{
     margin: 0;
     padding:0;
}