.Form
{
     width: 50%;
     margin:53px;  
     margin-left: 100px;   
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
     border-radius: 7px;
     padding: 50px;
     background-color: #aaa;
}

.ModalActions {
       display: flex;
       justify-content: flex-end;
       margin: 10px;
   }

.Button
   {
     background-color: skyblue;
     border-radius: 5px ;
     color: teal;
     outline: none;
     cursor: pointer;
     font: inherit;
     padding: 10px;
     margin: 10px;
     font-weight: bold;
   }

.Input{
     margin: 15px;
   }
.Content{
     margin-top: 30px;
     margin-left:20px;
   }