.all
{
     position: absolute;
     left: 850px;
     display: flex;
     height: 100px
}
.date
{
     margin-top: 10px;
     color: teal;
     text-align: right;
     height: 100%;
}
.all button
{
     height: 40%;
     padding:5px
}
