.movie {
     margin: 1rem;
     padding: 1rem;
     background-color: #230052;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
     border-radius: 12px;
     text-align: center;
     color: white;
     height: 228px;
   }
   
   .movie h2 {
     font-size: 50px;
     color: #f7e702;
   }
   
   .movie p {
     color: #eccf77;
     margin: 5px;
     font-size: 25px;
   }
   .movie:hover
{
  background-color: #ab8ad6;
  color: #5f5906;
}